:root {
  --middle-height: 93%;
}

@media (min-width: 991px) {
  :root {
    --middle-height: 95%;
  }
}

#chat-container {
  display: flex;
  justify-content: space-between;
  height: 78vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

.purple-container {
  background-color: var(--violet);
  border-radius: 25px;
  box-shadow: inset 0px -4px 6px var(--rose);
}

/* Extra small (phones portrait) */
@media (max-width: 575px) {
  #chat-container {
    top: 30px;
    width: 90vw;
  }
  #chat-left {
    width: 20%;
  }
  #chat-middle {
    width: 75%;
  }
  #chat-right {
    position: absolute;
    width: 75%;
    height: var(--middle-height);
    right: 0;
    bottom: 0;
    display: none;
  }
}

/* Small (phones landscape and demi laptop) */
@media (min-width: 576px) and (max-width: 991px) {
  #chat-container {
    width: 80vw;
  }
  #chat-left {
    width: 15%;
  }
  #chat-middle {
    width: 80%;
  }
  #chat-right {
    position: absolute;
    width: 80%;
    height: var(--middle-height);
    right: 0;
    bottom: 0;
    display: none;
  }
}

/* Large (tablets landscape and laptop) */
@media (min-width: 992px) and (max-width: 2499px) {
  #chat-container {
    width: 60vw;
    min-width: 990px;
  }
  #chat-left {
    width: 10%;
  }
  #chat-middle {
    width: 60%;
  }
  #chat-right {
    width: 25%;
  }
}

/* Extra extra large (42 Mac) */
@media (min-width: 2500px) {
  #chat-container {
    width: 70vw;
  }
  #chat-left {
    width: 10%;
  }
  #chat-middle {
    width: 65%;
  }
  #chat-right {
    width: 20%;
  }
}

/* Other responsive values not used */
/* Medium (tablets portrait)
@media (min-width: 768px) {
}

/* Extra large (PCs)
@media (min-width: 1200px) {
}*/
