/*****    LOGO     *****/

.logo {
  position: relative;
  top: 5px;
  padding-left: 18%;
  display: inline;
}

.logoName {
  /* Position */
  display: inline;
  vertical-align: middle;

  /* Font */
  font-size: 40px;
  font-style: regular;
  color: var(--violet);
  font-family: Bungee, Verdana, Tahoma, sans-serif;
}

.picto {
  width: 38px;
}

/*****    NAV     *****/

.catpong-nav {
  /* Position */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  /* Font */
  font-family: Montserrat, Verdana, Tahoma, sans-serif;
  font-style: regular;
  font-size: 25px;

  /* Bar */
  background-color: var(--violet);
  /*width: 15em;*/
  width: 17em;
  border-radius: 25px;

  box-shadow: inset 0px 5px 6px var(--rose);
  /*box-shadow: -0.5px -6px 3px var(--rose);*/
}

.active-catpong-nav {
  background-color: var(--light);
  box-shadow: inset 5px 15px 4px -11px var(--rose);
  color: var(--white) !important;
}

.profile {
  width: 33.3%;

  /* Pour retirer le style du link */
  text-decoration: none;

  border-radius: 25px 0px 0px 25px;
  color: var(--white);

  text-align: center;
}

.profile:hover {
  color: var(--light);
}

.play {
  /* Pour le positionner entre les deux autres élèments du nav */
  padding-left: 7%;
  padding-right: 7%;
  width: 33.3%;

  /* Font style */
  text-decoration: none;
  color: var(--white);
  text-align: center;
}

.play:hover {
  color: var(--light);
}

.chat {
  width: 33.3%;
  text-decoration: none;
  color: var(--white);
  border-radius: 0px 25px 25px 0px;
  padding-left: 0px;
  text-align: center;
}

.chat:hover {
  color: var(--light);
}

/*****    DELOG     *****/

.delog {
  /* Position */
  position: absolute;
  padding: 0;
  width: auto;
  right: 50%;
  transform: translateX(450%);
  top: 35px;
}

.delog-button {
  /* Position */
  position: relative;
  top: -30px;

  /* Style du button */
  border: none;
  background-color: var(--violet);
  border-radius: 25px;
  box-shadow: inset 0px 4px 6px var(--rose);

  /* Font */
  font-family: Montserrat, Verdana, Tahoma, sans-serif;
  font-style: regular;
  font-size: 17px;
}

.delog-button:hover {
  border: none;
  background-color: var(--violet);
  color: var(--light);
}

.delog-button:active {
  border: none;
  background-color: var(--violet) !important;
  color: var(--light) !important;
}

.avatar-circle {
  position: relative;
  top: -15px;
  right: -50px;
  width: 70px;
  height: 70px;

  /* Pour cadrer dans un cercle et ne pas afficher ce qui depasse */
  overflow: hidden;
  border-radius: 100%;

  /* Pour centrer l'image contenu dans la div */
  display: flex;
  justify-content: center;
}

.avatar {
  height: 70px;
  width: auto;
}

.id {
  /* Position */
  position: absolute;
  top: 0px;
  right: 30px;
  white-space: nowrap;

  /* Font */
  font-family: Montserrat, Verdana, Tahoma, sans-serif;
  font-style: regular;
  font-size: 17px;
  color: var(--white);
}

/*****    RESPONSIVE     *****/

@media (min-width: 1700px) {
  .logo {
    top: 7px;
    /*padding-left: 4%;*/
    left: 40%;
    transform: translateX(-130%);
  }

  .logoName {
    font-size: 30px;
  }

  .picto {
    width: 30px;
  }

  .nav {
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    font-size: 22px;
    width: 17em;
  }

  .delog {
    padding: 0;
    width: auto;
    top: 30px;
    /*right: 70px;*/
    right: 50%;
    transform: translateX(750%);
  }

  .delog-button {
    font-size: 14px;
    left: 10px;
  }

  .id {
    right: 25px;
  }
}

@media (max-width: 992px) {
  .logo {
    top: 7px;
    padding-left: 4%;
  }

  .logoName {
    font-size: 30px;
  }

  .picto {
    width: 30px;
  }

  .nav {
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    font-size: 22px;
    width: 17em;
  }

  .delog {
    padding: 0;
    width: auto;
    top: 30px;
    right: 50%;
    transform: translateX(400%);
  }

  .delog-button {
    font-size: 14px;
    left: 10px;
  }

  .id {
    right: 25px;
  }
}

/*Responsive petits écran */

@media (max-width: 682px) {
  .logo {
    top: 45px;
    left: 50%;
    transform: translateX(-60%);
  }

  .logoName {
    font-size: 30px;
  }

  .picto {
    width: 30px;
  }

  .nav {
    right: 50%;
    transform: translateX(-50%);
    top: 50px;
    font-size: 16px;
  }

  .delog {
    top: 30px;
    right: 50%;
    transform: translateX(240%);
  }

  .delog-button {
    font-size: 12px;
    left: 10px;
  }

  .id {
    right: 25px;
    top: 5px;
    font-size: 12px;
  }
}

@media (max-width: 414px) and (max-height: 920px) {
  .logo {
    top: 45px;
    left: 50%;
    transform: translateX(-90%);
  }

  .logoName {
    font-size: 25px;
  }

  .picto {
    width: 25px;
  }

  .delog {
    top: 30px;
    right: 50%;
    transform: translateX(130%);
  }
}
