/*****    LOGO     *****/

.logo {
  position: relative;
  top: 5px;
  padding-left: 18%;
  display: inline;
}

.logoName {
  /* Position */
  display: inline;
  vertical-align: middle;

  /* Font */
  font-size: 40px;
  font-style: regular;
  color: var(--violet);
  font-family: Bungee, Verdana, Tahoma, sans-serif;
}

/*****    NAV     *****/

.nav {
  /* Position */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  /* Font */
  font-family: Montserrat, Verdana, Tahoma, sans-serif;
  font-style: regular;
  font-size: 25px;

  /* Bar */
  background-color: var(--violet);
  /*width: 15em;*/
  width: 17em;
  border-radius: 25px;

  box-shadow: inset 0px 5px 6px var(--rose);
  /*box-shadow: -0.5px -6px 3px var(--rose);*/
}

.active-nav {
  background-color: var(--shadow);
  box-shadow: inset 5px 15px 4px -11px var(--rose);
  color: var(--white) !important;
}

.profile {
  width: 33.3%;

  /* Pour retirer le style du link */
  text-decoration: none;

  border-radius: 25px 0px 0px 25px;
  color: var(--white);

  text-align: center;
}

.profile:hover {
  color: var(--shadow);
}

.play {
  /* Pour le positionner entre les deux autres élèments du nav */
  padding-left: 7%;
  padding-right: 7%;
  width: 33.3%;

  /* Font style */
  text-decoration: none;
  color: var(--white);
  text-align: center;
}

.play:hover {
  color: var(--shadow);
}

.chat {
  width: 33.3%;
  text-decoration: none;
  color: var(--white);
  border-radius: 0px 25px 25px 0px;
  padding-left: 0px;
  text-align: center;
}

.chat:hover {
  color: var(--shadow);
}

/*****    DELOG     *****/

.delog {
  /* Position */
  position: absolute;
  padding: 0;
  width: auto;
  /*right: 330px;*/
  left: calc(50% + 380px);
  top: 42px;
}

.delog-button {
  /* Position */
  position: relative;
  top: -30px;

  /* Style du button */
  border: none;
  background-color: var(--violet);
  border-radius: 25px;
  box-shadow: inset 0px 4px 6px var(--rose);

  /* Font */
  font-family: Montserrat, Verdana, Tahoma, sans-serif;
  font-style: regular;
  font-size: 17px;
}

.delog-button:hover {
  border: none;
  background-color: var(--violet);
  color: var(--shadow);
}

.delog-button:active {
  border: none;
  background-color: var(--violet) !important;
  color: var(--shadow) !important;
}

.avatar-circle {
  position: relative;
  top: -15px;
  right: -50px;
  width: 70px;
  height: 70px;

  /* Pour cadrer dans un cercle et ne pas afficher ce qui depasse */
  overflow: hidden;
  border-radius: 100%;

  /* Pour centrer l'image contenu dans la div */
  display: flex;
  justify-content: center;
}

.avatar {
  height: 70px;
  width: auto;
}

.id {
  /* Position */
  position: relative;
  top: 20px;
  right: -20px;

  /* Font */
  font-family: Montserrat, Verdana, Tahoma, sans-serif;
  font-style: regular;
  font-size: 17px;
  color: var(--white);
}
