@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

body {
  background: url("../assets/main/background.jpg");
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
 height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin: 0 auto;
}

.play-btn {
  background-color: var(--violet);
  min-width:35vh;
  margin: 1vh;
}

.gamers-btn{
  background-color: var(--violet);
  min-width:10vh;
  margin: 1vh;

}

.UserImg {
  min-width: 35vh;
  margin: 1vh;
}
