.play-container {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  margin: 0 auto;
}

.play-btn {
  background-color: var(--violet);
  min-width:35vh;
  margin: 1vh;
}



/* Friends playing part */

.friends-title {
  display: flex;
  padding-top: 100px;
  }
  

.friends-col{
  position:relative;
  display:inline;
}

.friends-row { 
  background-color: var(--violet);
  border-radius: 30px;
  padding:15px;
  box-shadow:  10px 10px 5px 5px var(--rose);
  color: var(--white) !important;
}

.gamers-img {
    top: -15px;
    width: 10vh;
    height: 10vh;
    /* Pour cadrer dans un cercle et ne pas afficher ce qui depasse */
    overflow: hidden;
    border-radius: 100%;
    /* Pour centrer l'image contenu dans la div */
    display: flex;
    justify-content: center;
}

.eye-img {
  width: 3vh;
  height: 3vh;
  position:absolute;
  top:7vh;
  right:3vh;
}

.trophy-btn {
  background-color: var(--violet);
  min-width:10vh;
  margin: 1vh;
}

/* Responsive for eyes img */

/* 1. i- pad */
@media (max-width: 992px) {

  .eye-img {
    width: 3vh;
    height: 3vh;
    position:absolute;
    top:7vh;
    right:3vh;
  }
}


/* 2. smartphone */

@media screen and (max-width: 600px) {
background-color:blue;
}