.play-container {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  margin: 0 auto;
}

.play-btn {
  background-color: var(--white);
  min-width:20vh;
  margin: 3vh;
  font-weight: bold;
  font-size: 50px;
  color: var(--violet);
}
.play-btn:hover {
  color:var(--white);
  background-color: var(--violet);
  border: 1px,var(--violet);
}

.UserImg{
  width: 40vh;
  height: 40vh;
  border-radius: 100%;
  box-shadow:   10px 6px 5px  var(--rose);

}


/* Friends playing part */

.friends-title {
  display: flex;
  padding-top: 100px;
  }
  

.friends-col{
  position:relative;
  display:inline;
}

.friends-row { 
  background-color: var(--violet);
  border-radius: 30px;
  padding:15px;
  box-shadow:  10px 10px 5px 5px var(--rose);
  color: var(--white) !important;
}

.gamers-img {
    top: -15px;
    width: 10vh;
    height: 10vh;
    /* Pour cadrer dans un cercle et ne pas afficher ce qui depasse */
    overflow: hidden;
    border-radius: 100%;
    /* Pour centrer l'image contenu dans la div */
    display: flex;
    justify-content: center;
}

.eyes {
  width: 3vh;
  height: 3vh;
  position:absolute;
  top:7vh;
  right:2vh;
}

/* Trophy part*/

.trophy-board {
  margin:20px;
  background-color: var(--violet);
  border-radius: 30px;
  max-width:8vh;
  max-height:8vh;
  padding:10px;
}
.trophy-column{
  align-self: flex-end;

}

/* Responsive for eyes img */

/* 1. i- pad */
@media (max-width: 1024px) {
  .play-btn {
    background-color: var(--white);
    min-width:20vh;
    margin: 3vh;
    font-weight: bold;
    font-size: 20px;
    color: var(--violet);
  }
  .play-btn:hover {
    color:var(--white);
    background-color: var(--violet);
    border: 1px,var(--violet);
  }

  .UserImg{
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
    box-shadow:   10px 6px 5px  var(--rose);
  }

  .friends-col{
    position:relative;
    display:flex;
    justify-content: center;
    width:50%;
  }

  .gamers-img {
    padding:10px;
}
  .eyes {
    width: 3vh;
    height: 3vh;
    position:absolute;
    top:7vh;
    left:11vh;
  }

  .trophy-column{
    align-self: flex-end;
  }

}


/* 2. smartphone */

@media (max-width: 600px) {

}