.profile-tabs-global-div {
  position: absolute;
  left: calc(50% + 400px);
  top: 50%;

  /*padding-left: 25px;*/

  transform: translateX(-50%);
  background-color: var(--violet);
  border-radius: 25px;
  box-shadow: inset 0px -4px 6px var(--rose);
  width: 300px;
  height: 500px;
}

.profile-tabs-global {
  position: relative;
  padding-left: 7px;

  max-width: 280px;
  background-color: var(--violet);
  border-radius: 25px 25px 25px 0px;
  margin-bottom: 22px;
  border: none;
}

.profile-tab {
  color: var(--white);
  font-size: 15px;
  padding: 7px;
  border: 1px var(--violet) !important;
}

.profile-tab:hover {
  background-color: var(--shadow);
  color: var(--white);
  border: 1px var(--shadow) !important;
}

.profile-tab.active {
  background-color: var(--rose) !important;
  color: var(--white) !important;
  border: 1px var(--rose) !important;
}

/* History Games */
.history-games-global {
  top: 10px;
  position: relative;
  margin-top: 10px;

  background-color: var(--light);
  border-radius: 25px;
  height: 90px;
  font-size: 13px;
}

.title-history-div {
  position: relative;
  display: inline;
  left: 53px;
  top: 4px;
}

.title-history-icon-left {
  position: relative;

  width: 15px;
  transform: scaleX(-1);
}

.title-history-date {
  position: absolute;
  top: 0;
  display: inline;
  width: 250px;
}

.title-history-icon-right {
  position: relative;
  left: 130px;
  width: 15px;
}

.history-games-score {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


.win-icon {
  position: absolute;
  top: 40px;
  left: 30%;
  width: 50px;
}

/* Blocked list */

/* scrollbar works on firefox */
.user-blocked-global {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-base-color: var(--light);
  scrollbar-color: var(--light) var(--violet);
}

/* scrollbar works on Chrome, Edge, and Safari */
.user-blocked-global::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}

.user-blocked-global::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 20px;
  border: 3px solid var(--light);
}

.user-blocked-div {
  position: relative;
  display: flex;
  justify-content: space-between;
  vertical-align: middle !important;
  top: 12px;
  padding: 5px;
  padding-right: 7px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
}

.user-blocked-avatar {
  width: 30px;
  border-radius: 100px;
}

.user-blocked-p {
  overflow: hidden;
  margin: auto;
  margin-left: 15px;
  padding: 4px;
  text-align: left;
  text-overflow: ellipsis;
  width: 56%;
  background-color: var(--shadow);
  border-radius: 10px;
}

.user-unblocked-button {
  background-color: var(--light);
  font-size: 12px;
  color: var(--white);
  border: none;
  border-radius: 10px;
}

.user-unblocked-button:hover {
  background-color: var(--rose);
}
