.profile-tabs-global-div {
  position: absolute;
  left: calc(50% + 400px);
  top: 50%;

  /*padding-left: 25px;*/
  padding-right: 10px;

  transform: translateX(-50%);
  background-color: var(--violet);
  border-radius: 25px;
  box-shadow: inset 0px -4px 6px var(--rose);
  width: 300px;
  height: 500px;
}

.profile-tabs-global {
  position: relative;
  padding-left: 7px;
  max-width: 280px;
  background-color: var(--violet);
  border-radius: 25px 25px 25px 0px;
  margin-bottom: 22px;
  border: none;
}

.profile-tab {
  color: var(--white);
  font-size: 15px;
  padding: 7px;
  border: 1px var(--violet) !important;
}

.profile-tab:hover {
  background-color: var(--shadow);
  color: var(--white);
  border: 1px var(--shadow) !important;
}

.profile-tab.active {
  background-color: var(--rose) !important;
  color: var(--white) !important;
  border: 1px var(--rose) !important;
}


/* Blocked list *//*
.user-blocked-global {
  overflow-y: scroll;
  scrollbar-color: var(--light)!important;
  scrollbar-width: auto;
  max-height: 400px;
}*/

/* scrollbar works on firefox */
.user-blocked-global {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light) var(--violet);
}

/* scrollbar works on Chrome, Edge, and Safari */
.user-blocked-global::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}

.user-blocked-global::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 20px;
  border: 3px solid var(--light);
}

.user-blocked-div {
  position: relative;
  display: flex;
  justify-content: space-between;
  vertical-align: middle !important;
  top: 12px;
  padding-right: 7px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
}

.user-blocked-avatar { 
  width: 40px; 
  border-radius: 100%;
}

.user-blocked-p {
  overflow:hidden;
  margin: auto;
  text-align: center;
  text-overflow: ellipsis;
  max-width: 50%;
}

.user-unblocked-button {
    background-color: var(--shadow);
    font-size: 12px;
    color: var(--white);
    border: none;
    border-radius: 15px;
}

.user-unblocked-button:hover {
  background-color: var(--light);
}
