/* General */

.profile-infos {
    z-index: 0;

    position: absolute;
    background-color: var(--violet);
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    max-height: 300px;

    border-radius: 25px;
    box-shadow: inset 0px -4px 6px var(--rose);
}

/* Content */

.profile-id {
    padding-left: 10%;
    padding-top: 3%;

}



/* Responsive */
@media (max-width: 682px) {
    .profile-infos {
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 400px;
        max-height: 300px;
    }
}