/* General */

.profile-infos {
  z-index: 0;

  position: absolute;
  background-color: var(--violet);
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 450px;
  height: 500px;

  border-radius: 25px;
  box-shadow: inset 0px -4px 6px var(--rose);
}

/* Content */

.profile-id {
  padding-left: 6%;
  padding-top: 4%;
}

.displayname-form {
  background-color: var(--light);
  border-radius: 25px;

  position: relative;
  left: 2px;
  height: 45px;
  width: 350px;
}

.displayname-label {
  position: relative;
  padding-left: 6%;
  top: 20%;
}

input[name="profile-input"] {
  position: absolute;
  left: 140px;
  width: 190px;

  overflow: hidden;
  border: none;
  background-color: var(--shadow);
  color: var(--white);

  -webkit-appearance: none;
  appearance: none;
}

input:focus {
  pointer-events: none;
  outline: none; /* Permet de retirer le contour bleu quand on écrit dans l'input*/
}

input:invalid {
  background-color: var(--violet);
}

.display-name-error-message {
  font-size: 10px;

  width: 450px;

  position: relative;
  top: 13px;
  left: 0px;
}

.displayname-button {
  position: absolute;
  top: 0px;
  left: 360px;
  width: 60px;
  height: 45px;

  background-color: var(--light);
  font-size: 12px;
  padding: 2px;
  color: var(--white);
  border: none;

  overflow: hidden;
  border-radius: 35%;

  display: flex;
  justify-content: center;
}

.displayname-button:hover {
  background-color: var(--shadow);
}

.input-message-displayname {
  font-size: 10px;
  position: relative;
  top: 20px;
  left: 22px;
}

/* 2FA */
.tfa-title {
  position: relative;
  top: 32px;
  padding-left: 35%;
}

.tfa-switch {
  position: relative;
  top: -17px;
  left: 50%;
  transform: translateX(155%);
}

/* TFA pop up */

.tfa-popup {
  background-color: var(--shadow);
  border-radius: 25px;
  width: 400px;
  height: 350px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -85px;
}

.tfa-popup-title {
  background-color: var(--white);
  color: var(--violet);

  width: 300px;
  border-radius: 12px;
  font-size: 15px;

  position: relative;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
}

.tfa-qrcode {
  position: relative;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}

input[id="tfa-input"] {
  z-index: -1;

  background-color: var(--light);
  color: var(--white);

  left: 50%;
  transform: translateX(-50%);
  top: 78%;
  height: 50px;
  border-radius: 15px;

  padding-left: 15px;
  font-size: 20px;
  letter-spacing: 5px;
}

input[id="tfa-input"]:invalid {
  background-color: var(--violet);
}

.tfa-input-error-message {
  position: absolute;
  top: 330px;
  left: 85px;
  text-align: center;

  width: 230px;
  border-radius: 5px;
  font-size: 10px;

  background-color: var(--violet);
  color: var(--white);
}

.tfa-valid-button {
  position: relative;
  top: 41.3%;
  left: 24%;

  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 15px;
  border: none;
}

.tfa-valid-img {
  position: relative;
  left: -4px;
  width: 50px;
}

/* STATS */
.profile-stats {
  position: relative;
  top: 15px;

  left: 50%;
  transform: translateX(-55%);
}

.profile-score-div {
  z-index: -1;

  position: relative;
  left: 50%;
  transform: translateX(-90%);

  background-color: var(--light);
  width: 100px;
  height: 110px;

  border-radius: 15px;
}

.profile-score-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;

  width: 50px;
}

.profile-score-p {
  position: relative;

  text-align: center;
  color: var(--rose);

  font-size: 10px;

  top: 5px;
}

.profile-score-nb {
  position: relative;
  top: -10px;

  font-size: 20px;
  color: var(--white);

  text-align: center;
}

.profile-rank-div {
  z-index: -1;

  position: relative;
  left: 50%;
  transform: translateX(40%);
  top: -110px;

  background-color: var(--light);
  width: 100px;
  height: 110px;

  border-radius: 15px;
}

.profile-rank-star-first {
  position: relative;
  top: -2px;
  width: 25px;
}

.profile-rank-star-last {
  position: relative;
  top: -2px;
  width: 25px;
}

.profile-rank-p {
  position: relative;

  text-align: center;
  color: var(--rose);

  font-size: 15px;

  top: 50%;
  transform: translateY(-50%);
}

.profile-rank-nb {
  position: relative;
  top: -10px;

  font-size: 20px;
  color: var(--white);

  text-align: center;
}


/* Error Page User Does Not Exist */

.user-not-exist {
  border-radius: 25px;
  background-color: var(--violet);
  box-shadow: inset 0px -4px 6px var(--rose);

  width: 400px;
  height: 200px;

  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
}

.profile-logo-error {
  max-width: 80px;
  margin: 10px;
  margin-top: 30px;
}

/* Responsive */
@media (max-width: 682px) {
  .profile-infos {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    max-height: 300px;
  }

  .profile-id {
    position: relative;
    left: -20px;
  }

  .displayname-form {
    border-radius: 25px;
    left: 2px;
    width: 300px;
    font-size: 15px;
  }

  input[name="displayName"] {
    width: 150px;
  }

  .displayname-button {
    left: 310px;
  }
}
