.display-all-channels-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 98%;
}

.search-channels {
  max-width: 90%;
  margin-top: 15px;
}

.all-channels-container {
  width: 450px;
  height: 100%;
  max-width: 90%;
  margin-top: 30px;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-base-color: var(--light);
  scrollbar-color: var(--light) transparent;
  padding-right: 7px;
  position: relative;

  display: flex;
  flex-direction: column;
}
.all-channels-container::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}
.all-channels-container::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 20px;
  border: 3px solid var(--light);
}

.channel-container {
  width: 100%;
  padding: 2.5%;
  display: flex;
  align-items: center;

  border-radius: 15px;
  background-color: var(--light);
  margin-bottom: 15px;
}

.channel-form {
  width: 83%;
  display: flex;
  align-items: center;
}

.channel-name-container {
  margin-left: 3%;

  flex: 1;
  overflow: hidden;
  text-align: left;
}
.channel-name {
  margin-top: auto;
  margin-bottom: auto;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-password {
  flex: 0.5;
  height: 100%;
  margin-right: 3.5%;
  margin-left: 2px;

  border: none;
  box-shadow: none !important;
  color: var(--white) !important;
  background-color: var(--shadow);
}
.channel-password:focus {
  background-color: var(--shadow);
}
.channel-password::placeholder {
  color: var(--light-white);
}

.join-button,
.joined-text-container {
  min-width: 60px;
  width: 20%;
  line-height: 25px;
}
.join-button {
  background-color: var(--violet);
  border-color: var(--violet);
  color: var(--white);
}
.join-button:hover {
  background-color: var(--shadow);
  border-color: var(--shadow);
  color: var(--white);
}
.join-button:active {
  background-color: var(--shadow) !important;
  border-color: var(--shadow) !important;
  color: var(--white) !important;
}

.text-box-container {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.text-box-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--rose) transparent;
}
.text-box-text {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--rose);
  border-radius: 5px;
  text-align: center;
}
.text-box-text > p {
  margin: 0;
  padding-left: 7px;
}

@media (max-width: 991px) {
  .channel-name {
    font-size: large;
  }

  .text-box-text {
    max-width: 95%;
    transform: translateX(-40%);
  }
}

@media (min-width: 992px) {
  .all-channels-container {
    padding-right: 5px;
  }

  .channel-name-container {
    width: 90%;
  }

  .channel-form {
    display: block;
    overflow: hidden;
  }

  .channel-password {
    width: 60%;
    float: left;
    margin: 0%;
    margin-left: 2%;
    text-align: center;
  }

  .join-button,
  .joined-text-container {
    padding: 3px;
    margin-left: 105px;
    float: right;
    margin: 0;
  }

  .text-box-text {
    max-width: 100%;
    transform: translateX(-34%);
  }
}
