body {
  color:white;
  background-image: url("../assets/main/background.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Montserrat", "Bungee", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: "Montserrat", "Bungee", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

/* A utiliser dans les fichiers .css en faisant: var(--violet); */
:root {
  --violet: #be70d9;
  --rose: #f500ef;
  --light: #d8b9e8;
  --shadow: #d09de2;
  --white: #ffffff;
  --light-white: #f0e5f5;
  --online: #c0e4c4;
  --offline: #aeab9f;
}

/* Pour importer des fonts */
@font-face {
  font-family: "Bungee";
  src: url("../assets/fonts/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: light;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: regular;
}

.modal-content {
  background-color: var(--violet);
  border-radius: 25px;
  box-shadow: inset 0px -4px 6px var(--rose);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: auto;
}

.purple-button {
  margin-left: auto;
  background-color: var(--shadow);
  color: var(--white);
  border-radius: 5px;
  border: none;
}
.purple-button:hover {
  background-color: var(--rose);
  color: var(--white);
}
.purple-button:active {
  background-color: var(--rose) !important;
  color: var(--white) !important;
}
.purple-button:disabled {
  background-color: var(--shadow);
}
.purple-button:focus {
  background-color: var(--rose);
  color: var(--white);
  box-shadow: 0 0 5px var(--white);
}

.dark-purple-button {
  margin-left: auto;
  background-color: var(--violet);
  color: var(--white);
  border-radius: 5px;
  border: none;
}
.dark-purple-button:hover {
  background-color: var(--shadow);
  color: var(--white);
}
.dark-purple-button:active {
  background-color: var(--shadow) !important;
  color: var(--white) !important;
}
.dark-purple-button:disabled {
  background-color: var(--violet);
}
.dark-purple-button:focus {
  background-color: var(--shadow);
  color: var(--white);
  box-shadow: 0 0 5px var(--white);
}

.light-button {
  background-color: var(--light-white);
  color: var(--violet);
  border-radius: 5px;
  border: none;
}
.light-button:hover {
  background-color: var(--white);
  color: var(--rose);
}
.light-button:active {
  background-color: var(--white) !important;
  color: var(--rose) !important;
}
.light-button:focus {
  background-color: var(--white);
  color: var(--rose);
  box-shadow: 0 0 5px var(--rose);
}

div {text-align: center;}