.messages-main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 15px 25px 5px;
}

.user-name {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-name-hover:hover {
  cursor: pointer;
  color: var(--light-white);
}

.in-game-user-status {
  margin-top: 6px;
  margin-left: 5px;
}
.in-game-user-status:hover {
  color: var(--light) !important;
}

.messages-container {
  flex-grow: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0px 2.5% 0px 5%;
  margin-right: 2.5%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-base-color: var(--light);
  scrollbar-color: var(--light) transparent;
}
.messages-container > :first-child {
  margin-top: auto !important;
}
.messages-container::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}
.messages-container::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 20px;
  border: 3px solid var(--light);
}

.message-container {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  flex-direction: row;
}

.message-image {
  --min-width: 60px;
  --max-width: 150px;
  --width: calc(max(var(--min-width), min(var(--max-width), 15%)));
  position: relative;
  width: var(--width);
  height: 0px;
  padding-bottom: var(--width);
  min-width: var(--width);
  max-width: none;
  max-height: none;
}

.message-content {
  position: relative;
  left: 0px;
  padding-right: auto;
  background-color: var(--white);
  color: var(--violet);
  white-space: pre-wrap;
  text-align: justify;
  border-radius: 30px;
  padding: 20px;
}

.message-date {
  flex: 1;
  font-size: small;
}

.messages-input-container {
  display: flex;
  justify-content: center;
  margin: 3.5% 5% 3.5%;
  padding: 3% 0px;
  align-items: center;
  background-color: var(--light);
  border-radius: 20px;
}
.messages-input {
  line-height: 1;
  resize: none;
  width: 90%;
  background-color: var(--light);
  border: none;
  color: var(--white);
  scrollbar-width: thin;
  scrollbar-base-color: var(--white);
  scrollbar-color: var(--white) transparent;
}
.messages-input::placeholder {
  color: var(--white);
}
.messages-input:focus {
  outline: none;
}
.messages-input::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}
.messages-input::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
  border: 3px solid var(--white);
}

@media (max-width: 575px) {
  .user-name {
    font-size: small;
  }

  .on-offline-status {
    max-width: 10px !important;
    max-height: 10px !important;
    min-width: 10px !important;
    min-height: 10px !important;

  }
}
