.middle-header {
  height: calc(100% - var(--middle-height));
  padding-bottom: 12px;
  display: flex;
}

.middle-container {
  height: var(--middle-height);
}

.extras-button {
  display: none;
  background-color: var(--violet);
  color: var(--white);
  border-radius: 5px;
  border: none;
  min-height: 35px;
}
.extras-button:hover {
  background-color: var(--shadow);
  color: var(--white);
}
.extras-button:active {
  background-color: var(--shadow) !important;
  color: var(--white) !important;
}

.search-users-container {
  width: 40%;
  margin-left: auto;
  margin-right: 3%;
}
.search-user-name-container {
  overflow: hidden;
  text-align: left;
  margin-left: 4%;
}
.no-users-found-text {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 30px;
}
.search-users-results {
  padding: 13px 15px 2px;
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .extras-button {
    display: block;
  }
}
