/* Avatar du channel */
.channel-avatar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
}

/* Bouton pour changer l'avatar du channel */
.change-channel-avatar-button {
  position: relative;
  left: 52%;
  top: -25px;
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;

  overflow: hidden;
  border-radius: 100%;
  background-color: var(--shadow);
  border: none;
  box-shadow: 1px 3px 3px var(--rose);
}

.change-channel-avatar-button:hover {
  background-color: var(--light-white);
  cursor: pointer;
}

.change-channel-avatar-button:active {
  background-color: var(--shadow) !important;
}

/* Permet de retirer l'input classique */
.change-channel-avatar-button input[type="file"] {
  display: none;
}

.brush-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 25px;
  height: 25px;
  filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(53deg) brightness(106%)
    contrast(100%);
}

.brush-icon:hover {
  filter: invert(17%) sepia(82%) saturate(4545%) hue-rotate(306deg)
    brightness(123%) contrast(129%);
}

/* Select type of the channel */
.type-button-unchecked {
  background-color: var(--shadow);
  border-radius: 30px;
  border: none;
}

.type-button-unchecked:hover {
  background-color: var(--light) !important;
  border-radius: 30px;
  border: none;
}

.type-button-checked {
  background-color: var(--rose) !important;
  border-radius: 30px;
  border: none;
}

.type-button-checked:hover {
  background-color: var(--rose) !important;
  border-radius: 30px;
  border: none;
}

.type-button-checked:focus {
  background-color: var(--rose) !important;
  border-radius: 30px;
  border: none;
}

.type-button-checked:active {
  background-color: var(--rose) !important;
  border-radius: 30px;
  border: none;
}

.modal-delete-button:disabled[id="manage-channel-modal"] {
  border: none;
  background-color: var(--light);
}
