.channel-password-form {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 2%;
    margin-bottom: 30px;

    height: 35px;
    width: 405px;
    text-align: left;
  }
  
  input[name="channel-password-input"] {
    position: relative;
    left: 10px;
    width: 235px;
    height: 35px;
    padding-left: 10px;
  
    overflow: hidden;
    border: none;
    border-radius: 25px;
    background-color: var(--light) !important;
    color: var(--white);
  
    -webkit-appearance: none;
    appearance: none;
  }
  input[name="channel-password-input"]::placeholder {
    color: var(--white);
  }
  
  input[name="channel-password-input"]:focus {
    outline: none; /* Permet de retirer le contour bleu quand on écrit dans l'input*/
  }
  
  input[name="channel-password-input"]:invalid {
    background-color: var(--rose);
  }
  
  .channel-password-error-message {
    position: relative;
    left: -35px;
    top: 5px;
  
    width: 450px;
    font-size: 10px;
  }
  
  .channel-password-button {
    position: absolute;
    top: 0px;
    left: 345px;
    width: 35px;
    height: 35px;
  
    background-color: var(--light);
    font-size: 12px;
    padding: 2px;
    border: none;
  
    overflow: hidden;
    border-radius: 0px 25px 25px 0px;
  
    display: flex;
    justify-content: center;
  }
  
  .valid-password-img {
    width: 30px;
    height: 30px;
    filter: invert(62%) sepia(20%) saturate(5978%) hue-rotate(233deg)
      brightness(92%) contrast(84%);
  }
  
  .valid-password-img:hover {
    filter: invert(99%) sepia(1%) saturate(981%) hue-rotate(272deg)
      brightness(121%) contrast(100%);
  }
  
  .input-message-channel-password {
    font-size: 10px;
    position: relative;
    top: 20px;
    left: 22px;
  }
  
  /* Demi laptop */
  @media (max-width: 942px) {
    /*  .channel-password-form {
      border-radius: 25px;
      left: 2px;
      width: 300px;
      font-size: 15px;
    }
  
    input[id="channel-password"] {
      width: 140px;
    }
  
    .channel-password-button {
      left: 310px;
    }
  
    .channel-password-error-message {
      width: 350px;
    }*/
  }
  /*
  @media (max-width: 682px) {
    .channel-password-form {
      border-radius: 25px;
      width: 300px;
      font-size: 15px;
    }
  
    input[id="channel-password"] {
      width: 140px;
    }
  
    .channel-password-button {
      left: 310px;
    }
  
    .channel-password-error-message {
      width: 350px;
    }
  }*/
  
  @media (max-width: 414px) and (max-height: 920px) {
    .channel-password-form {
      border-radius: 25px;
      padding-top: 2%;
      padding-left: 10px;
      width: 270px;
      font-size: 12px;
    }
  
    input[id="channel-password"] {
      width: 105px;
      left: 105px;
    }
  
    .channel-password-button {
      left: 225px;
    }
  
    .channel-password-error-message {
      left: 0px;
      width: 250px;
    }
  }
  