.channel-name-form {
  position: relative;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 2%;
  height: 45px;
  width: 385px;
  text-align: left;
  margin-bottom: 10px;

  background-color: var(--shadow);
  border-radius: 25px;
}

.channel-name-label {
  position: relative;
  top: 20%;
}

input[name="channel-name-input"] {
  position: absolute;
  left: 140px;
  width: 220px;

  overflow: hidden;
  border: none;
  background-color: var(--light);
  color: var(--white);

  -webkit-appearance: none;
  appearance: none;
}
input[name="channel-name-input"]::placeholder {
  color: var(--white);
}

input[name="channel-name-input"]:focus {
  outline: none; /* Permet de retirer le contour bleu quand on écrit dans l'input*/
}

input[name="channel-name-input"]:invalid {
  background-color: var(--violet);
}

.channel-name-error-message {
  position: relative;
  left: -42px;
  top: 13px;

  width: 450px;
  font-size: 10px;
}

.channel-name-button {
  position: absolute;
  top: 0px;
  left: 345px;
  width: 40px;
  height: 45px;

  background-color: var(--shadow);
  font-size: 12px;
  padding: 2px;
  border: none;

  overflow: hidden;
  border-radius: 25px;

  display: flex;
  justify-content: center;
}

.valid-name-img {
  filter: invert(62%) sepia(20%) saturate(5978%) hue-rotate(233deg)
    brightness(92%) contrast(84%);
}

.valid-name-img:hover {
  filter: invert(99%) sepia(1%) saturate(981%) hue-rotate(272deg)
    brightness(121%) contrast(100%);
}

.input-message-channel-name {
  font-size: 10px;
  position: relative;
  top: 20px;
  left: 22px;
}

@media (max-width: 414px) and (max-height: 920px) {
  .channel-name-form {
    border-radius: 25px;
    padding-top: 2%;
    padding-left: 10px;
    width: 270px;
    font-size: 12px;
  }

  input[id="channel-name"] {
    width: 140px;
    left: 105px;
  }

  .channel-name-button {
    left: 225px;
  }

  .channel-name-error-message {
    left: 0px;
    width: 250px;
  }
}
