.left-global {
  position: relative;
  top: 5px;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-base-color: var(--light);
  scrollbar-color: var(--light) transparent;

  max-height: 98%;
}

/* scrollbar works on Chrome, Edge, and Safari */
.left-global::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}

.left-global::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 20px;
  border: 3px solid var(--light);
}

.left-title {
  position: relative;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);

  max-width: 80%;
  text-align: center;

  background-color: var(--light);
  border-radius: 30px;
  font-size: 85%;
}

.left-avatar-button {
  position: relative;
  padding: 5%;
  margin-bottom: 10px;
  z-index: 0;
  cursor: pointer;

  width: 60px;
  height: 60px;

  background-color: var(--shadow);
  border-radius: 30%;
  border: none;
}

.left-avatar-button:hover {
  background-color: var(--light);
}

.left-avatar-button:focus {
  background-color: var(--white);
}

.left-avatar-button:active {
  background-color: var(--light-white) !important;
}

.left-avatar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
}

.left-avatar:hover {
  cursor: pointer !important;
}

.waiting-messages {
  position: relative;
  top: -50px;
  left: calc(50% + 10px);
  width: 15px;
  height: 15px;
  padding-top: 2%;

  background-color: var(--rose);
  font-size: 55%;
  border-radius: 100%;
}

.left-status {
  position: absolute;
  top: 70%;
  left: calc(50% + 12px);

  background-color: var(--offline);
  border-radius: 50%;
  width: 18%;
  height: 20%;
  font-size: 20px;
}

/* Button + beside avatar's channel */

.left-more-options-button {
  position: absolute;
  display: inline;
  z-index: 1;
  padding: 0;
  left: 14%;

  cursor: pointer;
  top: 65%;

  width: 25%;
  height: 25%;

  background-color: var(--white);
  border: none;
  border-radius: 100%;
}

.left-more-options-button:hover {
  border: none;
  background-color: var(--white);
}

.left-more-options-button:focus {
  border: none;
  background-color: var(--white);
}

.left-more-options-button:active {
  border: none;
  background-color: var(--white) !important;
}

.left-more-options {
  position: relative;
  top: -6px;
  justify-content: center;

  width: 100%;
  filter: invert(54%) sepia(55%) saturate(1107%) hue-rotate(232deg)
    brightness(91%) contrast(85%);
}

.left-more-options:hover {
  filter: invert(53%) sepia(100%) saturate(6992%) hue-rotate(288deg)
    brightness(96%) contrast(137%) !important;
}

/* Big Button + */

.create-channel {
  position: relative;
  top: calc(50% + -50%);
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;

  filter: invert(73%) sepia(43%) saturate(5433%) hue-rotate(229deg)
    brightness(89%) contrast(91%);
}

.create-channel:hover {
  filter: invert(53%) sepia(100%) saturate(6992%) hue-rotate(288deg)
    brightness(96%) contrast(137%) !important;
}

.create-channel:focus {
  filter: invert(53%) sepia(100%) saturate(6992%) hue-rotate(288deg)
    brightness(96%) contrast(137%) !important;
}

.create-channel:active {
  filter: invert(53%) sepia(100%) saturate(6992%) hue-rotate(288deg)
    brightness(96%) contrast(137%) !important;
}

/* Dropdown options group */

.channel-dropdown-group {
  position: relative;
  margin-bottom: 15px;
}

.channel-dropdown-button {
  position: relative;
  z-index: 0;
  text-align: center;

  width: 80px !important;
  height: 30px;

  background-color: var(--light);
  border: none;
  font-size: 14px;
  border-radius: 15px;
  border-bottom: 1px solid var(--white) !important;
}
.channel-dropdown-button:hover {
  background-color: var(--shadow);
  border-bottom: 1px solid var(--white) !important;
}

.channel-dropdown-button:focus {
  background-color: var(--light-white);
  color: var(--rose);
  border-bottom: 1px solid var(--rose) !important;
}

.channel-dropdown-button:active {
  background-color: var(--light) !important;
  border-bottom: 1px solid var(--rose) !important;
  color: var(--rose) !important;
}

/* Style for delete dropdown option */
.channel-dropdown-delete-button {
  text-align: center;

  width: 80px !important;
  height: 30px;

  background-color: var(--rose);
  border: none;
  font-size: 14px;
  border-radius: 0px 0px 15px 15px !important;
}
.channel-dropdown-delete-button:hover {
  background-color: var(--white);
  color: var(--rose);
}

.channel-dropdown-delete-button:focus {
  background-color: var(--rose);
  color: var(--white);
}

.channel-dropdown-delete-button:active {
  background-color: var(--white) !important;
  color: var(--rose) !important;
}

/* Style for message alert for delete channel button */
.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--rose) !important;
}

.bs-tooltip-end .tooltip-arrow::after {
  border-right-color: var(--rose) !important;
}

.tooltip-inner {
  background-color: var(--rose);
}

.custom-tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
}

/* Modal to confirm to delete a channel */

.modal-cancel-button {
  background-color: var(--light-white);
  color: var(--violet);
  border: none;
}

.modal-cancel-button:hover {
  background-color: var(--white);
  color: var(--violet);
}

.modal-cancel-button:active {
  background-color: var(--white);
  color: var(--violet);
}

.modal-cancel-button:focus {
  background-color: var(--white) !important;
  color: var(--violet) !important;
}

.modal-delete-button {
  border: none;
  background-color: var(--rose);
}

.modal-delete-button:hover {
  background-color: var(--shadow);
  color: var(--white);
}

.modal-delete-button:active {
  background-color: var(--shadow);
  color: var(--white);
}

.modal-delete-button:focus {
  background-color: var(--rose) !important;
  color: var(--white) !important;
}
