.login-container {
  color: white;
  width: 100vh;
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  margin: 0 auto;
}

.login-btn {
  position: relative;
  top: calc(50% + -285px);
  min-width: 35vh;
  background-color: var(--violet);
  margin: 0vh;
}

.login-btn:hover {
  color: var(--violet);
}

.login-btn:active {
  color: var(--violet) !important;
}

.login-btn:focus {
  color: var(--violet) !important;
}


.myImg {
  position: relative;
  transform-origin: center;
  justify-content: center;
  min-width: 45vh;
  width: 45vh;
  margin: 0vh 1vh;
}

.align-items-center {
  transform-origin: center;
  justify-content: center;
}


@media (max-width: 770px) {
  .login-container {
    position: relative;
    color: white;
    width: 90%;
    display: flex;
    background-repeat: no-repeat;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-btn {
    justify-content: center;
    width: 35%;
    background-color: var(--violet);
    margin: 1vh;
  }

  .myImg {
    width: 35%;
    margin: 1vh;
  }
}
  @media (max-width: 414px) and (max-height: 920px) {
    .login-container {
      position: relative;
      color: white;
      width: 100vh;
      display: flex;
      background-repeat: no-repeat;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .login-btn {
      justify-content: center;
      width: 35%;
      background-color: var(--violet);
      margin: 1vh;
    }

    .myImg {
      width: 35%;
      margin: 1vh;
    }
  }

  /* Small (phones landscape and demi laptop) */
@media (min-width: 576px) and (max-width: 991px) {
  .login-container {
    position: relative;
    color: white;
    width: 90%;
    display: flex;
    background-repeat: no-repeat;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-btn {
    justify-content: center;
    width: 35%;
    top: calc(50% + -295px);
    background-color: var(--violet);
    margin: 1vh;
  }

  .myImg {
    width: 35%;
    margin: 1vh;
  }
}

  /* Large (tablets landscape and laptop) */
  @media (min-width: 992px) and (max-width: 2499px) {
    .login-btn {
      top: calc(50% + -295px);
    }
  }

