.play-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0 auto;
}

.play-btn {
  min-width: 18vh;
  min-height: 17.4%;
  background-color: white;
  color: var(--violet);
  font-size: 35px;
  letter-spacing: 2px;
  margin: 1vh;
  border: none;
}
.play-btn:hover {
  color: var(--white);
  background-color: var(--violet);
  border: none;
}
.play-btn:active {
  background-color: var(--violet) !important;
  color: var(--white) !important;
}

.user-avatar {
  width: 30vh;
  height: 30vh;
  border-radius: 100%;
  max-width: 30vh !important;
  max-height: 30vh !important;
  box-shadow: 10px 6px 5px var(--rose);
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.UserImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Friends playing part */
.friends-title {
  display: flex;
  padding-top: 100px;
  font-size: 22px;
}

.friends-col {
  position: relative;
  display: inline;
}

.friends-row {
  width: 70vw;
  max-width: 800px;
  background-color: var(--violet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: 3px 4px 5px 5px var(--rose);
  color: var(--white) !important;
  overflow-y: hidden !important;
  display: flex;
  justify-content: flex-start;
}

/* scroll bar */
.friends-row::-webkit-scrollbar {
  height: 15px;
  background-color: transparent;
}

.friends-row::-webkit-scrollbar-thumb {
  border-radius: 30px;
  box-shadow: inset 0 0 10px 10px #ae8be0;
  border: solid 3px transparent;
}

.friends-row::-webkit-scrollbar-track {
  background-color: transparent;
}

.friend-image-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

.gamers-img {
  top: -20px;
  min-width: 80px !important;
  max-width: 80px !important;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 100%;
  margin: 0;
}

.eyes {
  width: 26px;
  height: 26px;
  top: 45%;
  right: 3px;
  position: absolute;
}
.eyes:hover {
  color: var(--violet);
}

.trophy-button {
  background-color: var(--violet);
  border-color: var(--violet);
  border: 2px;
  border-radius: 20px;
  margin: 30px;
  width: 55px;
  height: 60px;
  border-color: none;
  position: relative;
  top: 100px;
}

.trophy-img {
  height: 42px;
}

.x-img {
  color: white;
}

/* LeaderBoard*/
.showDiv {
  background-image: url("../assets/podium/podium.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 20px 200px;
  background-color: var(--violet);
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px var(--rose);
  color: var(--white) !important;
  width: 300px;
  height: 300px;
  bottom: 20%;
  /* to put the space */
  margin: 20px 0; 
  position: absolute;
  transform: translate(-35%, -50%);
}
.showDiv > h2 {
  margin-top: 20px;
}

.podium-title {
  margin-bottom: 100px;
}
.winner-col {
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.winner-col-0 {
  width: 110px;
  height: 110px;
  left: 210px;
  top: 155px;
}
.winner-col-1 {
  width: 80px;
  height: 80px;
  left: 81px;
  top: 182px;
}
.winner-col-2 {
  width: 50px;
  height: 50px;
  left: 135px;
  top: 220px;
}

.winners-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none !important;
  max-height: none !important;
}

/* Responsive page  */
/* Desktop View is the default view  */
@media only screen and (min-width: 1224px){
  .gamers-img {
    top: -20px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
  }

  .eyes {
    width: 26px;
    height: 26px;
    top: 45%;
    right: 3px;
    position: absolute;
  }
  .showDiv {
    bottom: 25%;
  }
}

/* Mac book air 13.3 pouces */
@media only screen and (max-width: 2560px){
  .gamers-img {
    top: -20px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
  }

  .eyes {
    width: 26px;
    height: 26px;
    top: 45%;
    right: -5px;
    position: absolute;
  }
  .showDiv {
    bottom: 25%;
  }
  .friends-row {
    padding:50px;
    gap: 30px;
  }

} 

/* Desktop View2 for the gap between the users */
@media only screen and (max-width: 1040px) {
  .gamers-img {
    top: -20px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
  }

  .eyes {
    width: 26px;
    height: 26px;
    top: 45%;
    right: -5px;
    position: absolute;
  }
  .showDiv {
    bottom: 25%;
  }
  .friends-row {
    gap: 30px;
  }

}


/* tablet  */
/* iPad mini */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gamers-img {
    top: -20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
  }

  .eyes {
    width: 23px;
    height: 23px;
    top: 45%;
    right: 1px;
    position: absolute;
  }
  .friends-row {
    gap: 50px;
  }
  .showDiv {
    bottom: 130px;
  }
}

/* tablet  */
/* iPad air */
@media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
  .gamers-img {
    top: -20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
  }

  .eyes {
    width: 23px;
    height: 23px;
    top: 45%;
    right: 1px;
    position: absolute;
  }
  .friends-row {
    gap: 50px;
  }
  .showDiv {
    bottom: 220px;
  }
}

/* tablet  */
/* surface pro7  */
@media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
  .gamers-img {
    top: -20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
  }

  .eyes {
    width: 23px;
    height: 23px;
    top: 45%;
    right: 1px;
    position: absolute;
  }
    /* Gap between the img of playing users*/

  .friends-row {
    gap: 50px;
  }
  .showDiv {
    bottom: 320px;
  }
}

/* 3. smartphone */
@media only screen and (max-device-width: 540px) {
  .play-btn {
    width: 60px;
    height: 50px;
    font-size: 20px;
  }

  .friends-title {
    font-size: 18px;
  }
  .friends-col {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .gamers-img {
    top: -20px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
  }

  .eyes {
    width: 15px;
    height: 15px;
    top: 45%;
    right: -35px;
    position: absolute;
  }

  /* Gap between the img of playing users*/
  .friends-row {
    height: 100px;
    gap: 50px;
  }

  .friend-image-container {
    width: 10px;
  }

  /* LeaderBoard*/
  .showDiv {
    background-image: url("../assets/podium/podium.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 30px 120px;
    background-color: var(--violet);
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px var(--rose);
    color: var(--white) !important;
    width: 180px;
    height: 180px;
    bottom: 30px;
    position: absolute;
    transform: translate(-35%, -50%);
  }
  .showDiv > h2 {
    margin-top: 30px;
  }

  .podium-title {
    margin-bottom: 100px;
    font-size: 18px;
  }

  .winner-col {
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
  }

  .winner-col-0 {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 120px;
    top: 100px;
  }
  .winner-col-1 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 55px;
    top: 110px;
  }
  .winner-col-2 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 80px;
    top: 130px;
  }

  .winners-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .winners-img:hover {
    cursor: pointer;
  }
}

/* 3. smartphone */
@media only screen and (min-device-width: 280px) and (max-device-width: 480px) {
  .play-btn {
    width: 60px;
    height: 50px;
    font-size: 20px;
  }

  .friends-title {
    font-size: 18px;
  }
  .friends-col {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .gamers-img {
    top: -20px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
  }

  .eyes {
    width: 15px;
    height: 15px;
    top: 45%;
    right: -35px;
    position: absolute;
  }
  /* Gap between the img of playing users*/
  .friends-row {
    height: 100px;
    gap: 50px;
  }

  /* LeaderBoard*/
  .showDiv {
    background-image: url("../assets/podium/podium.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 30px 120px;
    background-color: var(--violet);
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px var(--rose);
    color: var(--white) !important;
    width: 180px;
    height: 180px;
    bottom: 100px;
    position: absolute;
    transform: translate(-35%, -50%);
  }

  .showDiv > h2 {
    margin-top: 30px;
  }

  .podium-title {
    margin-bottom: 100px;
    font-size: 18px;
  }

  .winner-col {
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
  }

  .winner-col-0 {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 120px;
    top: 100px;
  }
  .winner-col-1 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 55px;
    top: 110px;
  }
  .winner-col-2 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 80px;
    top: 130px;
  }

  .winners-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .winners-img:hover {
    cursor: pointer;
  }
}

/* iPhone 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-width: 480px) {
  .showDiv {
    bottom: 120px;
    right: 10px;
  }
}
