/* Search results */

.search-add-users-results {
  padding-top: 15px;
  position: relative;
  z-index: 1;
  max-height: 170px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-base-color: var(--light);
  scrollbar-color: var(--light) transparent;
}

/* scrollbar works on Chrome, Edge, and Safari */
.search-add-users-results::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}

.search-add-users-results::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 20px;
  border: 3px solid var(--light);
}

.add-member-container {
  height: 70px;
}

.add-member-container:hover {
  background-color: var(--shadow);
}

.add-member-container:active,
.add-member-container:focus {
  background-color: var(--white) !important;
  color: var(--violet);
}

