.middle-header {
  height: calc(100% - var(--middle-height));
}

.messages-container {
  height: var(--middle-height);
}

.extras-button {
  display: none;
}

@media (max-width: 991px) {
  .extras-button {
    display: block;
  }
}