.login-container {
  color: white;
  width:100vh;
  height:100vh;
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  margin: 0 auto;
}

.login-btn {
  min-width: 35vh;
  background-color: var(--violet);
  margin: 1vh;
}

.myImg {
  min-width: 35vh;
  margin: 1vh;
}
