@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

body {
    background: url("/app/public/background.jpg");
    background-size: cover;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-title {
    width:200px;
}

.container {
    height:100vh;
    color:white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.bg-image  {
    height:100vh;
}

.btn {
    min-width: 50vh;
}
  :root {
    --violet: #BE70D9;
    --white: white;
  }
  
  .chat-message {
    background-color: var(--violet);
  }
  