.display-members-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 98%;
}

.members-container {
  width: 450px;
  height: 100%;
  max-width: 90%;
  margin-top: 30px;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-base-color: var(--light);
  scrollbar-color: var(--light) transparent;
  padding-right: 7px;
  position: relative;

  display: flex;
  flex-direction: column;
}
.members-container::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}
.members-container::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 20px;
  border: 3px solid var(--light);
}

@media (min-width: 992px) {
  .members-container {
    padding-right: 5px;
  }
}
